<li>
	{{name}}

	<button class="change-devoured" data-id={{id}} data-newdevoured={{devoured}}>
		{{#if devoured}}Devour!{{else}}Make Fresh!{{/if}}
	</button>

	<button class="delete" data-id={{id}}>Delete Burger</button>
</li>
